.main {
  display: flex;
  justify-items: center;
  width: 80%;
  margin: auto;
  flex-direction: column;
}

.title {
  color: #fff;
  margin-top: 0;
}
.subtitle {
  color: #fff;
  opacity: 0.8;
}
.about {
  color: #fff;
  opacity: 0.8;
}
.title span {
  color: #1ff5dd;
}
.about span {
  color: #1ff5dd;
  font-weight: bold;
}
.text {
  color: #fff;
  opacity: 0.8;
  width: 50%;
}
.text span {
  color: #1ff5dd;
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 10px;
}
.form textarea,
.form input {
  margin-bottom: 13px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  padding: 10px 15px;
  color: #fff;
}
::placeholder {
  color: #fff;
}
.form textarea {
  height: 120px;
}

.form input[type="submit"] {
  cursor: pointer;
  width: 150px;
  border-radius: 30px;
}
